<!DOCTYPE html>
<html>
    <head>
        <title>Zachary Spangler</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="header">
        <h1>Zachary Spangler</h1>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/templates/capstone.html">Capstone</a>
                    <a href="/templates/rental.html">Rental</a>
                </div>
            </div>
            <a href="/templates/education.html">Education</a>
            <a href="/templates/experience.html">Experience</a>
            <a href="/templates/skills.html">Skills</a>
            <a href="/templates/index.html">About</a>
        </div>
    </header>
    <h3 class="edu_loc">University of Wisconsin-Madison</h3>
    <main class="edu">
        <h3 class="edu">Master's of Data Science in Human Behavior</h3>
        <h3 class="edu">September 2023 - December 2024</h3>
        <h3 class="edu">GPA : 4.0</h3>
    </main>
    <main class="edu">
        <h3 class="edu">Bachelor's of Science in Psychology</h3>
        <h3 class="edu">September 2019 - May 2023</h3>
        <h3 class="edu">GPA : 3.511</h3>
    </main>
    <main class="edu">
        <h3 class="edu">Bachelor's of Science in Japanese</h3>
        <h3 class="edu">September 2019 - May 2023</h3>
        <h3 class="edu">GPA : 3.511</h3>
    </main>
</html>