<!DOCTYPE html>
<html>
    <head>
        <title>Zachary Spangler</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="header">
        <h1>Zachary Spangler</h1>
        <h3 class="abt">zspangler7991@gmail.com</h3>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/templates/capstone.html">Capstone</a>
                    <a href="/templates/rental.html">Rental</a>
                </div>
            </div>
            <a href="/templates/education.html">Education</a>
            <a href="/templates/experience.html">Experience</a>
            <a href="/templates/skills.html">Skills</a>
            <a href="/templates/index.html">About</a>
        </div>
    </header>
    <main class="exp">
        <div class="comp_det">
            <h3 class="comp">Supporitve Homecare Services</h3>
            <h3 class="loc">Kenosha, Wisconsin</h3>
        </div>
        <div class="comp_det">
            <h3 class="role">Caretaker</h3>
            <h3 class="date">August 2025 - December 2025</h3>
        </div>
        <ul class="job_list">
            <li>Providing daily comfort, hygienic, and medical care for the patient. Includes bathing, daily medications, aid with eating, and completing tasks that cannot be done on their own.</li>
        </ul>
    </main>
    <main class="exp">
        <div class="comp_det">
            <h3 class="comp">University of Wisconsin-Madison</h3>
            <h3 class="loc">Madison, Wisconsin</h3>
        </div>
        <div class="comp_det">
            <h3 class="role">Teaching Assistant</h3>
            <h3 class="date">August 2024 - December 2024</h3>
        </div>
        <ul class="job_list">
            <li>Record keeping, creating complementary labs that coincide with lesson plans, and communicate regularly with students to ensure an optimal learning environment</li>
            <li>Listening to student concerns, coordinating with the teaching team to create a unified sense of learning/teaching, and coming to census on a common goal throughout the semester</li>
        </ul>
        <div class="comp_det">
            <h3 class="role">SEL Library System - Circulation Assistant</h3>
            <h3 class="date">August 2022 - December 2024</h3>
        </div>
        <ul class="job_list">
            <li>Processing incoming and outgoing material within the library system</li>
            <li>Provide information and resources to patrons at their request</li>
        </ul>
    </main>
    <main class="exp">
        <div class="comp_det">
            <h3 class="comp">Language and Cognitive Neuroscience Lab</h3>
            <h3 class="loc">Madison, Wisconsin</h3>
        </div>
        <div class="comp_det">
            <h3 class="role">Research Assistant</h3>
            <h3 class="date">June 2021 - June 2022</h3>
        </div>
        <ul class="job_list">
            <li>Became proficient in the use of platforms such as Slack, R studio, and Github</li>
            <li>Learned how to work in a group setting and work off of previous work</li>
            <li>Continue projects and make steady strides towards short-term goals with long-term goals in mind</li>
        </ul>
    </main>

</html>
