<!DOCTYPE html>
<html>
    <head>
        <title>Zachary Spangler</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <header class="header">
        <h1>Zachary Spangler</h1>
        <h3 class="abt">zspangler7991@gmail.com</h3>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/templates/capstone.html">Capstone</a>
                    <a href="/templates/rental.html">Rental</a>
                </div>
            </div>
            <a href="/templates/education.html">Education</a>
            <a href="/templates/experience.html">Experience</a>
            <a href="/templates/skills.html">Skills</a>
            <a href="/templates/index.html">About</a>
        </div>
    </header>
    <h2>Skills List</h2>
    <div class="skills">
        <ul class="skill_list">
            <li>SQL</li>
            <li>Python for Data Analysis</li>
            <li>RStudio</li>
            <li>Google Cloud Platform (GCP)</li>
            <li>Docker Products</li>
            <li>Qualtrics</li>
            <li>Microsoft Office Suite Software</li>
            <li>OpenAI API</li>
            <li>GitHub</li>
            <li>Git</li>
            <li>Microsoft VBA</li>
            <li>Statistical Data Analysis</li>
            <li>Machine Learning Algorithms</li>
            <li>Excellent Customer Service</li>
            <li>Ex Libris Alma</li>
            <li>Excellent Peer-to-Peer Communication</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Python-based Web scraping</li>
            <li>LLM operational knowledge</li>
            <li>Microsoft Access</li>
            <li>Microsoft PowerBI</li>
            <li>Pandas</li>
            <li>Scikit Learn</li>
            <li>API Interfacing</li>
        </ul>
        </div>

</html>
